<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.url">jdbc:mysql://101.37.141.35:3306/bgdata?useUnicode=true&amp;amp;characterEncoding=UTF-8?zeroDateTimeBehavior=convertToNull</property>-->
        <!--&lt;!&ndash;<property name="connection.username">bgcsuser</property>&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="connection.password">TPfPuwqi7AZw</property>&ndash;&gt;-->
        <!--<property name="connection.username">bguser</property>-->
        <!--<property name="connection.password">zL5bYWr6tDJd</property>-->
        <!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="connection.url">jdbc:mysql://bsswaiwang.mysql.rds.aliyuncs.com:3306/bgcsdata?useUnicode=true&amp;amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull</property>-->
        <!--<property name="connection.username">bgcsuser</property>-->
        <!--<property name="connection.password">TPfPuwqi7AZw</property>-->
        <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <!--本地环境-->
        <property name="connection.url">jdbc:jtds:sqlserver://192.168.0.242:1433;DatabaseName=yylims</property>
        <property name="connection.username">yylims_db</property>
        <property name="connection.password">yylims_db </property>
        <!--正式环境-->
<!--    <property name="connection.url">jdbc:jtds:sqlserver://localhost:1433;DatabaseName=lims</property>-->
<!--    <property name="connection.username">yylims_db</property>-->
<!--    <property name="connection.password">yylims_db </property>-->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>  -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.provider_class" >org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.connection.autocommit" >false</property>
        <property name="hibernate.c3p0.max_size" >100</property>
        <property name="hibernate.c3p0.min_size" >50</property>
        <property name="hibernate.c3p0.timeout" >1800</property>
        <property name="hibernate.c3p0.max_statements" >300</property>
        <property name="hibernate.c3p0.idle_test_period" >100</property>
        <property name="hibernate.c3p0.acquire_increment" >1</property>
        <property name="hibernate.c3p0.validate" >false</property>



    </session-factory>
</hibernate-configuration>